!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyContents
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .drop
      .dropLeft
        %i.fas.fa-times
        %ul.dropLeftList
          %li.dropLeftListName
            -# =link_to "新たな気分",new_feeling_path, class:"dropLeftListNamePath"
      .dropTop
        %i.fas.fa-times
    %header.header
      .headerLeft
        %i.fas.fa-bars
      .headerCenter
        %h1 myContents
      .headerRight
        %h2 ようこそ〇〇様&emsp;|&emsp;
        %i.fas.fa-angle-double-down
        .headerRightBox
    = breadcrumbs separator: "&emsp; &rsaquo; &emsp;", class:"pankuzu"
    = yield
